USE [Arbeitskleidung]
GO
/****** Object:  Table [dbo].[MatVarianten]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatVarianten](
	[VarianteID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[VariantenBezeichnung] [nvarchar](200) NOT NULL,
	[SKU] [nvarchar](100) NULL,
	[Barcode] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[VarianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Variante_Material_Bez] UNIQUE NONCLUSTERED 
(
	[MaterialID] ASC,
	[VariantenBezeichnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Variante_SKU] UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatAttribute]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatAttribute](
	[MerkmalID] [int] IDENTITY(1,1) NOT NULL,
	[MerkmalName] [nvarchar](100) NOT NULL,
	[Datentyp] [varchar](20) NOT NULL,
	[Einheit] [nvarchar](50) NULL,
	[IsRequired] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MerkmalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MatAttribute_Name] UNIQUE NONCLUSTERED 
(
	[MerkmalName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatVariantenAttribute]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatVariantenAttribute](
	[VarianteID] [int] NOT NULL,
	[MerkmalID] [int] NOT NULL,
	[MerkmalWert] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_VarAttr] PRIMARY KEY CLUSTERED 
(
	[VarianteID] ASC,
	[MerkmalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vVarAttr_Pivot_Arbeitskleidung]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarAttr_Pivot_Arbeitskleidung]
AS
WITH kv AS (
  SELECT v.VarianteID, v.MaterialID, v.VariantenBezeichnung, v.SKU,
         a.MerkmalName, va.MerkmalWert
  FROM dbo.MatVariantenAttribute va
  JOIN dbo.MatVarianten v ON v.VarianteID = va.VarianteID
  JOIN dbo.MatAttribute a ON a.MerkmalID  = va.MerkmalID
  WHERE a.MerkmalName IN (N'Farbe', N'Größe')
)
SELECT
  p.VarianteID,
  p.MaterialID,
  p.VariantenBezeichnung,
  p.SKU,
  MAX(CASE WHEN p.MerkmalName = N'Farbe' THEN p.MerkmalWert END)  AS Farbe,
  MAX(CASE WHEN p.MerkmalName = N'Größe' THEN p.MerkmalWert END)  AS Groesse
FROM kv p
GROUP BY p.VarianteID, p.MaterialID, p.VariantenBezeichnung, p.SKU;
GO
/****** Object:  Table [dbo].[Materialgruppe]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materialgruppe](
	[MaterialgruppeID] [int] IDENTITY(1,1) NOT NULL,
	[Gruppenname] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialgruppeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Materialgruppe_Gruppenname] UNIQUE NONCLUSTERED 
(
	[Gruppenname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAllowed_Groessen_Heuristik]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllowed_Groessen_Heuristik]
AS
WITH Gruppen AS (
    SELECT mg.MaterialgruppeID, mg.Gruppenname
    FROM dbo.Materialgruppe mg
),
-- Handschuhe 7-12
GloveSizes AS (
    SELECT CAST(v AS NVARCHAR(10)) AS Groesse FROM (VALUES (7),(8),(9),(10),(11),(12)) x(v)
),
-- Schuhe 36-48
ShoeSizes AS (
    SELECT CAST(v AS NVARCHAR(10)) AS Groesse FROM (
        VALUES (36),(37),(38),(39),(40),(41),(42),(43),(44),(45),(46),(47),(48)
    ) x(v)
),
-- Oberbekleidung S-XXXL
TopSizes AS (
    SELECT v AS Groesse FROM (VALUES (N'S'),(N'M'),(N'L'),(N'XL'),(N'XXL'),(N'XXXL')) x(v)
)
SELECT g.MaterialgruppeID, g.Gruppenname, gs.Groesse
FROM Gruppen g
JOIN GloveSizes gs
  ON g.Gruppenname IN (N'Handschuhe', N'Handschutz')

UNION ALL
SELECT g.MaterialgruppeID, g.Gruppenname, ss.Groesse
FROM Gruppen g
JOIN ShoeSizes ss
  ON g.Gruppenname IN (N'Schuhe', N'Sicherheitsschuhe')

UNION ALL
SELECT g.MaterialgruppeID, g.Gruppenname, ts.Groesse
FROM Gruppen g
JOIN TopSizes ts
  ON g.Gruppenname IN (N'Oberbekleidung', N'Jacken', N'Hosen', N'Bekleidung');
GO
/****** Object:  Table [dbo].[GroessenProfil]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroessenProfil](
	[ProfilID] [int] IDENTITY(1,1) NOT NULL,
	[ProfilName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProfilName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroessenProfilWerte]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroessenProfilWerte](
	[ProfilWertID] [int] IDENTITY(1,1) NOT NULL,
	[ProfilID] [int] NOT NULL,
	[Groesse] [nvarchar](10) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfilWertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GPW] UNIQUE NONCLUSTERED 
(
	[ProfilID] ASC,
	[Groesse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialgruppeGroessenProfil]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialgruppeGroessenProfil](
	[MaterialgruppeID] [int] NOT NULL,
	[ProfilID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialgruppeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAllowed_Groessen_ByGruppe]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllowed_Groessen_ByGruppe]
AS
SELECT
    mg.MaterialgruppeID,
    mg.Gruppenname,
    gp.ProfilName,
    gpw.Groesse,
    gpw.SortOrder
FROM dbo.Materialgruppe mg
JOIN dbo.MaterialgruppeGroessenProfil map ON map.MaterialgruppeID = mg.MaterialgruppeID
JOIN dbo.GroessenProfil gp               ON gp.ProfilID = map.ProfilID
JOIN dbo.GroessenProfilWerte gpw         ON gpw.ProfilID = gp.ProfilID;
GO
/****** Object:  Table [dbo].[Hersteller]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hersteller](
	[HerstellerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Website] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[HerstellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Hersteller_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](200) NOT NULL,
	[Beschreibung] [nvarchar](1000) NULL,
	[HerstellerID] [int] NULL,
	[MaterialgruppeID] [int] NULL,
	[BasisSKU] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Material_Name] UNIQUE NONCLUSTERED 
(
	[MaterialName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vVarianten_Voll]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarianten_Voll]
AS
SELECT
    v.VarianteID,
    v.MaterialID,
    m.MaterialName,
    v.VariantenBezeichnung,
    v.SKU,
    v.Barcode,
    v.IsActive,
    h.Name        AS HerstellerName,
    g.Gruppenname AS Materialgruppe
FROM dbo.MatVarianten v
JOIN dbo.Material m       ON m.MaterialID = v.MaterialID
LEFT JOIN dbo.Hersteller h     ON h.HerstellerID = m.HerstellerID
LEFT JOIN dbo.Materialgruppe g ON g.MaterialgruppeID = m.MaterialgruppeID;
GO
/****** Object:  View [dbo].[vVarianten_Filter_FarbeGroesse]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarianten_Filter_FarbeGroesse]
AS
SELECT
    vv.VarianteID,
    vv.MaterialID,
    vv.MaterialName,
    vv.VariantenBezeichnung,
    vv.SKU,
    vv.HerstellerName,
    vv.Materialgruppe,
    p.Farbe,
    p.Groesse
FROM dbo.vVarianten_Voll vv
LEFT JOIN dbo.vVarAttr_Pivot_Arbeitskleidung p ON p.VarianteID = vv.VarianteID;
GO
/****** Object:  View [dbo].[vMaterialgruppen_ohne_Groessenprofil]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vMaterialgruppen_ohne_Groessenprofil]
AS
SELECT mg.MaterialgruppeID, mg.Gruppenname
FROM dbo.Materialgruppe mg
WHERE NOT EXISTS (
  SELECT 1
  FROM dbo.MaterialgruppeGroessenProfil map
  WHERE map.MaterialgruppeID = mg.MaterialgruppeID
);
GO
/****** Object:  View [dbo].[vMaterial_Basis]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vMaterial_Basis]
AS
SELECT
    m.MaterialID,
    m.MaterialName,
    m.Beschreibung,
    h.Name              AS HerstellerName,
    g.Gruppenname       AS Materialgruppe,
    m.BasisSKU,
    m.IsActive,
    COUNT(v.VarianteID) AS VariantenCount
FROM dbo.Material m
LEFT JOIN dbo.Hersteller h     ON h.HerstellerID = m.HerstellerID
LEFT JOIN dbo.Materialgruppe g ON g.MaterialgruppeID = m.MaterialgruppeID
LEFT JOIN dbo.MatVarianten v   ON v.MaterialID = m.MaterialID
GROUP BY
    m.MaterialID, m.MaterialName, m.Beschreibung, h.Name, g.Gruppenname, m.BasisSKU, m.IsActive;
GO
/****** Object:  View [dbo].[vVarAttr_KV]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarAttr_KV]
AS
SELECT
    v.VarianteID,
    v.MaterialID,
    m.MaterialName,
    a.MerkmalID,
    a.MerkmalName,
    va.MerkmalWert
FROM dbo.MatVariantenAttribute va
JOIN dbo.MatVarianten v ON v.VarianteID = va.VarianteID
JOIN dbo.Material m     ON m.MaterialID = v.MaterialID
JOIN dbo.MatAttribute a ON a.MerkmalID  = va.MerkmalID;
GO
/****** Object:  View [dbo].[vVarAttr_JSON]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarAttr_JSON]
AS
SELECT
    v.VarianteID,
    v.MaterialID,
    v.VariantenBezeichnung,
    v.SKU,
    JSON_QUERY(
        (
            SELECT a.MerkmalID AS id,
                   a.MerkmalName AS name,
                   va.MerkmalWert AS value
            FROM dbo.MatVariantenAttribute va
            JOIN dbo.MatAttribute a ON a.MerkmalID = va.MerkmalID
            WHERE va.VarianteID = v.VarianteID
            FOR JSON PATH
        )
    ) AS AttributeJSON
FROM dbo.MatVarianten v;
GO
/****** Object:  View [dbo].[vVarAttr_Signature]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarAttr_Signature]
AS
SELECT
    v.VarianteID,
    v.MaterialID,
    Sig.SigString AS AttributeSignature,
    CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', Sig.SigString), 2) AS AttributeSignatureHash
FROM dbo.MatVarianten v
CROSS APPLY (
    SELECT
        STUFF((
            SELECT '|' + CONCAT(CONVERT(VARCHAR(10), va2.MerkmalID), ':', UPPER(LTRIM(RTRIM(va2.MerkmalWert))))
            FROM dbo.MatVariantenAttribute va2
            WHERE va2.VarianteID = v.VarianteID
            ORDER BY va2.MerkmalID, UPPER(LTRIM(RTRIM(va2.MerkmalWert)))
            FOR XML PATH(''), TYPE
        ).value('.', 'nvarchar(max)'), 1, 1, '') AS SigString
) AS Sig;
GO
/****** Object:  View [dbo].[vVarianten_mit_JSON_und_Signatur]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarianten_mit_JSON_und_Signatur]
AS
SELECT
    vv.VarianteID,
    vv.MaterialID,
    vv.MaterialName,
    vv.VariantenBezeichnung,
    vv.SKU,
    vv.Barcode,
    vv.IsActive,
    vv.HerstellerName,
    vv.Materialgruppe,
    j.AttributeJSON,
    s.AttributeSignature,
    s.AttributeSignatureHash
FROM dbo.vVarianten_Voll vv
LEFT JOIN dbo.vVarAttr_JSON j       ON j.VarianteID = vv.VarianteID
LEFT JOIN dbo.vVarAttr_Signature s  ON s.VarianteID = vv.VarianteID;
GO
/****** Object:  View [dbo].[vVarAttr_Pivot_Basis]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vVarAttr_Pivot_Basis]
AS
WITH kv AS (
    SELECT v.VarianteID, v.MaterialID, v.VariantenBezeichnung, v.SKU,
           a.MerkmalName, va.MerkmalWert
    FROM dbo.MatVariantenAttribute va
    JOIN dbo.MatVarianten v ON v.VarianteID = va.VarianteID
    JOIN dbo.MatAttribute a ON a.MerkmalID  = va.MerkmalID
    WHERE a.MerkmalName IN (N'Farbe', N'Größe')
)
SELECT
    p.VarianteID,
    p.MaterialID,
    p.VariantenBezeichnung,
    p.SKU,
    MAX(CASE WHEN p.MerkmalName = N'Farbe' THEN p.MerkmalWert END) AS Farbe,
    MAX(CASE WHEN p.MerkmalName = N'Größe' THEN p.MerkmalWert END) AS Groesse
FROM kv p
GROUP BY p.VarianteID, p.MaterialID, p.VariantenBezeichnung, p.SKU;
GO
/****** Object:  Table [dbo].[MatAttributeAllowedValues]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatAttributeAllowedValues](
	[AllowedValueID] [int] IDENTITY(1,1) NOT NULL,
	[MerkmalID] [int] NOT NULL,
	[AllowedValue] [nvarchar](200) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AllowedValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AllowedValues] UNIQUE NONCLUSTERED 
(
	[MerkmalID] ASC,
	[AllowedValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAttribute_AllowedValues]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAttribute_AllowedValues]
AS
SELECT
    a.MerkmalID,
    a.MerkmalName,
    a.Datentyp,
    a.Einheit,
    a.IsRequired,
    av.AllowedValue,
    av.SortOrder
FROM dbo.MatAttribute a
LEFT JOIN dbo.MatAttributeAllowedValues av ON av.MerkmalID = a.MerkmalID;
GO
/****** Object:  View [dbo].[vMaterial_SucheText]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vMaterial_SucheText]
AS
SELECT
    m.MaterialID,
    CONCAT_WS(' | ',
        m.MaterialName,
        ISNULL(m.Beschreibung, N''),
        ISNULL(h.Name, N''),
        ISNULL(g.Gruppenname, N'')
    ) AS Suchtext
FROM dbo.Material m
LEFT JOIN dbo.Hersteller h     ON h.HerstellerID = m.HerstellerID
LEFT JOIN dbo.Materialgruppe g ON g.MaterialgruppeID = m.MaterialgruppeID;
GO
/****** Object:  Table [dbo].[ausgabe]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ausgabe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mitarbeiter_id] [int] NOT NULL,
	[datum] [date] NULL,
	[unterschrift] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ausgabe_position]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ausgabe_position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ausgabe_id] [int] NOT NULL,
	[kleidung_id] [int] NOT NULL,
	[groesse] [nvarchar](10) NULL,
	[menge] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eingang]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eingang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NOT NULL,
	[lieferant] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eingang_position]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eingang_position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eingang_id] [int] NOT NULL,
	[kleidung_id] [int] NOT NULL,
	[groesse] [nvarchar](10) NULL,
	[menge] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kleidung]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kleidung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bezeichnung] [nvarchar](100) NOT NULL,
	[groesse] [nvarchar](10) NULL,
	[gruppe] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mitarbeiter]    Script Date: 8/27/2025 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mitarbeiter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vorname] [nvarchar](50) NOT NULL,
	[nachname] [nvarchar](50) NOT NULL,
	[abteilung] [nvarchar](50) NOT NULL,
	[kleidergroesse] [nvarchar](10) NULL,
	[schuhgroesse] [nvarchar](10) NULL,
	[eintrittsdatum] [date] NULL,
	[typ] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ausgabe] ADD  DEFAULT (getdate()) FOR [datum]
GO
ALTER TABLE [dbo].[eingang] ADD  DEFAULT (getdate()) FOR [datum]
GO
ALTER TABLE [dbo].[MatAttribute] ADD  CONSTRAINT [DF_Attr_IsRequired]  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Material] ADD  CONSTRAINT [DF_Material_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Material] ADD  CONSTRAINT [DF_Material_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MatVarianten] ADD  CONSTRAINT [DF_MatVarianten_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MatVarianten] ADD  CONSTRAINT [DF_MatVarianten_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ausgabe]  WITH CHECK ADD FOREIGN KEY([mitarbeiter_id])
REFERENCES [dbo].[mitarbeiter] ([id])
GO
ALTER TABLE [dbo].[ausgabe_position]  WITH CHECK ADD FOREIGN KEY([ausgabe_id])
REFERENCES [dbo].[ausgabe] ([id])
GO
ALTER TABLE [dbo].[ausgabe_position]  WITH CHECK ADD FOREIGN KEY([kleidung_id])
REFERENCES [dbo].[kleidung] ([id])
GO
ALTER TABLE [dbo].[eingang_position]  WITH CHECK ADD FOREIGN KEY([eingang_id])
REFERENCES [dbo].[eingang] ([id])
GO
ALTER TABLE [dbo].[eingang_position]  WITH CHECK ADD FOREIGN KEY([kleidung_id])
REFERENCES [dbo].[kleidung] ([id])
GO
ALTER TABLE [dbo].[GroessenProfilWerte]  WITH CHECK ADD  CONSTRAINT [FK_GPW_Profil] FOREIGN KEY([ProfilID])
REFERENCES [dbo].[GroessenProfil] ([ProfilID])
GO
ALTER TABLE [dbo].[GroessenProfilWerte] CHECK CONSTRAINT [FK_GPW_Profil]
GO
ALTER TABLE [dbo].[MatAttributeAllowedValues]  WITH CHECK ADD  CONSTRAINT [FK_AllowedValues_Attr] FOREIGN KEY([MerkmalID])
REFERENCES [dbo].[MatAttribute] ([MerkmalID])
GO
ALTER TABLE [dbo].[MatAttributeAllowedValues] CHECK CONSTRAINT [FK_AllowedValues_Attr]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Hersteller] FOREIGN KEY([HerstellerID])
REFERENCES [dbo].[Hersteller] ([HerstellerID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Hersteller]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Materialgruppe] FOREIGN KEY([MaterialgruppeID])
REFERENCES [dbo].[Materialgruppe] ([MaterialgruppeID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Materialgruppe]
GO
ALTER TABLE [dbo].[MaterialgruppeGroessenProfil]  WITH CHECK ADD  CONSTRAINT [FK_MGGP_Gruppe] FOREIGN KEY([MaterialgruppeID])
REFERENCES [dbo].[Materialgruppe] ([MaterialgruppeID])
GO
ALTER TABLE [dbo].[MaterialgruppeGroessenProfil] CHECK CONSTRAINT [FK_MGGP_Gruppe]
GO
ALTER TABLE [dbo].[MaterialgruppeGroessenProfil]  WITH CHECK ADD  CONSTRAINT [FK_MGGP_Profil] FOREIGN KEY([ProfilID])
REFERENCES [dbo].[GroessenProfil] ([ProfilID])
GO
ALTER TABLE [dbo].[MaterialgruppeGroessenProfil] CHECK CONSTRAINT [FK_MGGP_Profil]
GO
ALTER TABLE [dbo].[MatVarianten]  WITH CHECK ADD  CONSTRAINT [FK_Variante_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[MatVarianten] CHECK CONSTRAINT [FK_Variante_Material]
GO
ALTER TABLE [dbo].[MatVariantenAttribute]  WITH CHECK ADD  CONSTRAINT [FK_VarAttr_Merkmal] FOREIGN KEY([MerkmalID])
REFERENCES [dbo].[MatAttribute] ([MerkmalID])
GO
ALTER TABLE [dbo].[MatVariantenAttribute] CHECK CONSTRAINT [FK_VarAttr_Merkmal]
GO
ALTER TABLE [dbo].[MatVariantenAttribute]  WITH CHECK ADD  CONSTRAINT [FK_VarAttr_Variante] FOREIGN KEY([VarianteID])
REFERENCES [dbo].[MatVarianten] ([VarianteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatVariantenAttribute] CHECK CONSTRAINT [FK_VarAttr_Variante]
GO
ALTER TABLE [dbo].[kleidung]  WITH CHECK ADD CHECK  (([gruppe]='Diverses' OR [gruppe]='Handschuhe' OR [gruppe]='Pullover' OR [gruppe]='Shirts' OR [gruppe]='Jacken' OR [gruppe]='Hosen' OR [gruppe]='Schuhe'))
GO
ALTER TABLE [dbo].[MatAttribute]  WITH CHECK ADD  CONSTRAINT [CK_Attr_Datentyp] CHECK  (([Datentyp]='DATE' OR [Datentyp]='BOOL' OR [Datentyp]='DECIMAL' OR [Datentyp]='INT' OR [Datentyp]='STRING'))
GO
ALTER TABLE [dbo].[MatAttribute] CHECK CONSTRAINT [CK_Attr_Datentyp]
GO
ALTER TABLE [dbo].[mitarbeiter]  WITH CHECK ADD CHECK  (([abteilung]='kauf. Mitarbeiter' OR [abteilung]='Hausmeister' OR [abteilung]='Materiallogistik' OR [abteilung]='HUB' OR [abteilung]='Warenausgang' OR [abteilung]='Wareneingang'))
GO
ALTER TABLE [dbo].[mitarbeiter]  WITH CHECK ADD CHECK  (([typ]='extern' OR [typ]='intern'))
GO
